*#*
session.*
abbrev_defs
ac-comphist.dat
auto-save-list/
bm-repository
elfeed_db_26_3/
elpa_26/
emacs_26_3.desktop
emacs_26_3.desktop.lock
keyfreq
places
projectile-bookmarks.eld
recentf
smex-items
transient/
